@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+HR:wght@100..400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  background-color: #151515;
}

/* Pseudo Selectors */

.nav__item:hover .nav__chevron {
  transform: rotate(-180deg);
}

.nav__item:hover .nav__link {
  opacity: 0.7;
}

.nav__item:hover .nav__drop {
  transform: translateY(0) translateX(-50%);
  opacity: 1;
  visibility: visible;
}

/* Marquee */

.marquee__wrapper {
  position: relative;
  height: 100px;
  overflow: hidden;
  margin: 30px 0;
}

.item {
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.item__left {
  left: calc(200px * 10);
  animation: scrollLeft 30s linear infinite;
  animation-delay: calc(30s / 10 * (10 - var(--i)) * -1);
}

.item__right {
  right: calc(200px * 10);
  animation: scrollRight 30s linear infinite;
  animation-delay: calc(30s / 10 * (10 - var(--i)) * -1);
}

.item:hover {
  opacity: 1;
  cursor: pointer;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

/* Stack */

.stack {
  transform: rotateX(60deg);
}

/* Scroll-based Animations */

.today {
  transform-style: preserve-3d;
  animation: rotate-in linear;
  animation-timeline: view();
}

.move-up {
  animation: move-up 300ms linear;
}

.fade-in {
  animation: fade-in 600ms linear;
}

@keyframes rotate-in {
  0% {
    transform: perspective(1500px) rotateX(30deg);
  }
  30% {
    transform: perspective(1500px) rotateX(0deg);
  }
  100% {
    transform: perspective(1500px) rotateX(0deg);
  }
}

@keyframes move-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}